body{
    background-color: blueviolet;
}

#p1{
    color: aliceblue;font-size: 60px;text-align: center;border: orange;border-width: 5px;border-style: solid;
}

#p2{
    color: aliceblue;border: orange;border-width: 5px;border-style: solid;font-size: 30px;
}

#p3{
    color: aliceblue;border: orange;border-width: 5px;border-style: solid;font-size: 60px;text-align: center;
}