h1{
    font-size: 60px;color: aliceblue;text-align: center;
}

h2{
    background-color: purple;padding: 100px;color: aliceblue;font-size: 60px;
}

h3{
    background-color: purple;padding: 100px;color: aliceblue;font-size: 60px;
}